/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    /*header start*/
   header {
    padding: 10px 0 10px;
}   
   .menu ul li a {
    margin-top: 10px;
    padding: 0 0px !important;
    
   
}
.cart ul li a {
    margin-top: 10px;
    padding: 0 0px !important;
}
.b_text {
    padding: 80px 0 80px;
}
.b_text h1{
    font-size: 38px;
    line-height: 40px;
}
.b_text h2{
    font-size: 20px;
    line-height: 60px;
}
.b_text p{
    font-size: 16px;
    margin-bottom: 40px !important;
}
.b_img {
    padding-right: 12px;
}
.btn_h {
    margin-top: 10px;
    margin-left: -10px;

}   
.b_button a {
    margin-left: 15px;
 } 
 /*manuscript*/
.manuscript {
    padding: 30px 0 40px;
 }   
 .ms_text {
    margin-top: 30px;
}
.ms_text p{
    margin-top: 20px;
}
/*slider*/
    .cc_n {
    right: 100px;
}
     .cc_p{
        left: 100px;
     }

     /*discountt*/

 .left {
    padding: 30px 0 0!important;
    }  

   .left h2 {
    padding: 2px 20px;
    font-size: 20px;
    line-height: 26px;
}   
.left h1 {
    font-size: 90px !important;
   
    line-height: 95px !important;
}
.left p {
    font-size: 20px;
    line-height: 25px;
}

/*product list*/
.product_list {
    padding: 50px 0 50px !important;
}
.p_h1 {
    font-size: 35px !important;
    line-height: 65px !important;
}
.p_p {
    font-size: 20px !important;
    line-height: 20px;
  }  
.feature {
    padding: 80px 0 70px;
}
/*article*/
.article1 {
    padding: 100px 0 70px !important;
}
.a1_text {
    padding: 30px 0 30px 75px !important;
}
.a_h2 {
    font-size: 30px !important;
    line-height: 45px !important;
}
.a_p {
    font-size: 16px !important;
}
.a2 {
    padding: 30px 75px 15px 0 !important;
}
.article3 {
    padding: 70px 0 40px !important;
}

/*form*/

.form_title h1 {
    line-height: 40px !important;
}
.form_title p {
    font-size: 16px !important;
    line-height: 20px;
 }   
/*footer top*/
.footer_top {
    padding-top: 20px !important;
}
.ft_1{
    text-align: center;
}
.ft_1 h2 {
   margin:25px 0 15px !important;
    font-size: 25px;
}
.ft_1 p {
    margin-top: 10px !important;
    font-size: 16px !important;
    line-height: 20px !important;
}

.ft_2{
    text-align: center;
}
.ft_2 h2 {
    margin:40px 0 15px !important;
    font-family: MontserratAlternates-Bold;
    font-size: 25px;
  }
    address {
    font-size: 16px;
    line-height: 30px;
    
} 
footer {
    padding: 10px 0 25px;
} 
.ft_content {
    text-align: center !important;
}
   .ft_content ul li p {
    font-size: 20px;
}
.ft_content ul li a i {
    padding: 10px 10px;
    font-size: 20px;
 }
 }   

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
/*header start*/
   header {
    padding: 10px 0 10px;
}   
   .menu ul li a {
    margin-top: 10px;
    padding: 0 0px !important;
    
   
}
.cart ul li a {
    margin-top: 10px;
    padding: 0 0px !important;
}
.b_text {
    padding: 80px 80px 80px;
}
.b_text h1{
    font-size: 50px;
}
.b_text h2{
    font-size: 24px;
}
.b_text p{
    font-size: 16px;
    margin-bottom: 45px;
}
.btn_h {
    margin-top: 10px;
    margin-left: -10px;

}
.b_img {
    padding-right: 12px;
}
.b_button a {
    margin-left: 30px;
 } 
/*manuscript*/
.manuscript {
    padding: 40px 0 75px;
 }   
 .ms_text {
    margin-top: 30px;
}
/*slider*/
    .cc_n {
    right: 300px;
}
     .cc_p{
        left: 300px;
     }
/*product list*/
.product_list {
    padding: 80px 0 70px !important;
}
.p_h1 {
    font-size: 45px;
    line-height: 20px !important;
}
.feature {
    padding: 80px 0 70px;
}
/*article*/
.article1 {
    padding: 100px 0 70px !important;
}
.a1_text {
    padding: 30px 0 40px 215px !important;
}
.a_h2 {
    font-size: 45px !important;
}
.a_p {
    font-size: 16px !important;
}
.a2 {
    padding: 30px 215px 40px 0 !important;
}
.article3 {
    padding: 70px 0 40px !important;
}

/*form*/

.p_h1 {
    font-size: 44px !important;
    line-height: 55px !important;
}
.form_title p {
    font-size: 16px !important;
    line-height: 20px;
 }   
/*footer top*/
.footer_top {
    padding-top: 60px !important;
}
.ft_1 h2 {
   margin-bottom: 20px !important;
    font-size: 25px;
}
.ft_1 p {
    font-size: 18px;
    line-height: 35px;
}

.ft_2{
    text-align: center;
}
.ft_2 h2 {
    margin:50px 0 20px !important;
    font-family: MontserratAlternates-Bold;
    font-size: 25px;
  }
    address {
    font-size: 17px;
    line-height: 40px;
    color: #FFFFFf;
}  
.ft_content {
    text-align: center !important;
}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
/*header start*/
   header {
    padding: 10px 0 10px;
}   
   .menu ul li a {
    margin-top: 10px;
    padding: 0 0px !important;
}
.cart ul li a {
    margin-top: 10px;
    padding: 0 0px !important;
}
.b_text {
    padding: 80px 107px 75px;
}
.b_text p{
    font-size: 26px;
}
.btn_h {
    margin-top: 10px;
    margin-left: -10px;

}
.b_img {
    padding-right: 0;
}  
.b_button a {
    margin-left: 30px;
 }
 /*manuscript*/
.manuscript {
    padding: 40px 0 75px;
 }   
 .ms_text {
    margin-top: 30px;
}
/*product list*/
.product_list {
    padding: 100px 0 70px;
}
/*article*/
.a1_text {
    padding: 50px 0 40px 325px !important;
}
.article3 {
    padding: 100px 0 60px !important;
}
.a2{
    padding: 50px 335px 40px 0 !important;
}
/*form*/
.form_title p {
    font-size: 16px;
}
/*footer top*/
.footer_top {
    padding-top: 90px;
}
.ft_1 h2 {
    font-size: 30px;
}
.ft_1 p {
    font-size: 20px;
    line-height: 40px;
}
.ft_2 h2 {
    margin-bottom: 40px !important;
    font-family: MontserratAlternates-Bold;
    font-size: 26px;
  }
    address {
    font-size: 17px;
    line-height: 40px;
    color: #FFFFFf;
}    
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
 
 /*header start*/
 .menu ul li a {
    padding: 0 15px !important;
    font-family: Montserrat-Bold;
    font-weight: 700;
}
.btn_h {
    margin:0 15px;
    padding: 10px 15px;
    font-family: Montserrat-Bold;
    font-weight: 700;
}
/*banner start*/
.b_text {
    padding: 0;
}
.b_text h1 {
    margin-top: 60px;
 }   

 .feature {
    padding: 115px 0 120px;
    }
 /*discount*/
.left {
    padding: 12px 75px 7px;
}  
.left h2 {
    padding: 8px 25px;
    font-size: 25px;
    line-height: 20px;
 }       
.left h1 {
    font-size: 150px;
} 
.left p {

    font-size: 22px;
}    
}    
/*product list*/
.product_list {
    padding: 120px 0 79px;
}

.p_h1 {
    font-size: 55px;
 }   
 .p_p{
    font-size: 22px;
 }
 /*article*/
 .article1 {
    padding: 120px 0 100px;
}
 .a1_text {
    padding: 200px 2px 140px;
}
 .a_h2 {
    font-size: 48px;
    line-height: 55px;
 }   
 .a_p {
    margin: 20px 0 30px;
    font-size: 20px;
    line-height: 25px;
 }  
 .article3 {
    padding: 110px 0 100px;
}
/*form*/
.form_title {
    padding: 0px 0px;
}
.form_title p {
    margin-top: 30px;
    font-size: 20px;
    line-height: 25px;
}
/*footer top*/
.footer_top {
    padding-top: 120px;
 }
 footer {
    padding: 30px 0 50px;
 }          
}
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
 /*header start*/
 /*banner start*/
    .b_text {
    padding: 148px 58px 70px;
}
 .b_text p{
    font-size: 23px;
 }
  /*discount start*/
   .left {
    padding: 50px 120px 10px;
}  
  /*article start*/
    .a_p{
        font-size: 20px;
    }
      

}

/*Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {
    /*banner start*/
    .b_text {
    padding: 190px 78px 158px;
}
    /*slider*/
    .cc_n {
    right: 575px;
}
     .cc_p{
        left: 575px;
     }
   /*discount start*/
   .left {
    padding: 63px 153px 46px;
}            
}